
.img1{
    height: 70px;
    width: 70px;
    margin-right: 10px;
    border-radius: 50%;
  }
  #coverimg{
    background-image: url(./images/Cover\ Page.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 500px;
    }

    .head{
      margin-top: 10rem;
      margin-left: 2rem;
    }
  .head h1{
    font-size: 75px;
    text-shadow: 4px 3px 8px  rgb(255, 153, 0);

  }
  .head h3{
    
    text-shadow: 4px 3px 8px  rgb(255, 153, 0);

  }
 #h5{
    font-size: 20px;
    color: red;
    text-align: center;
  }
  #card-body{
    text-shadow: 4px 3px 8px  rgb(255, 153, 0);
  }

.col-md-4 img{
  filter: brightness(50%);
}

@media(max-width:576px){
#coverimg{
  height: 200px;
}
.head{
  margin-top: 2rem;
  margin-left: 0rem;
}
.head h1{
  font-size: 30px;
  text-shadow: 4px 3px 8px  rgb(255, 153, 0);
}
.head h3{
  font-size: 15px;
  text-shadow: 4px 3px 8px  rgb(255, 153, 0);

}
}

tbody a{
  text-decoration: none;
}

/* NavBar Hover */

#menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #27282c;
}

#menu ul li a{
  position: relative;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.75rem 1.5rem;
  transition: 0.5s;

}

#menu ul li a:hover{
  letter-spacing: 0.25rem;
  background: #ff1867;
  color: #ff1867;
  box-shadow: 0 0 35px #ff1867;
}
#menu ul li a::before{
  content: '';
  position: absolute;
  inset: 2px;
  background: #27282c;
}
#menu ul li a span{
  position: relative;
  z-index: 1;
}

/* Link Style */
/* #link a{
  color: #27282c;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px 50px 5px 50px;
} */

#link a {
  font-size: 20px;
  text-decoration: none;
  box-shadow: inset 2px 0 0 0 #54b3d6;
  color: #0076a1;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
#link a:hover {
  box-shadow: inset 300px 0 0 0 #54b3d6;
  color: white;
}